## Unit 4 | Assignment - Pandas, Pandas, Pandas

## Background

The data dive continues!

Now, it's time to take what you've learned about Python Pandas and apply it to new situations. For this assignment, you'll need to complete **1 of 2**  Data Challenges. Once again, it's your choice which you choose. Just be sure to give it your all -- as the skills you hone will become powerful tools in your data analytics tool belt.

## Option 1: Heroes of Pymoli

![Fantasy](Images/Fantasy.jpg)

Congratulations! After a lot of hard work in the data munging mines, you've landed a job as Lead Analyst for an independent gaming company. You've been assigned the task of analyzing the data for their most recent fantasy game Heroes of Pymoli. 

Like many others in its genre, the game is free-to-play, but players are encouraged to purchase optional items that enhance their playing experience. As a first task, the company would like you to generate a report that breaks down the game's purchasing data into meaningful insights.

Your final report should include each of the following:

**Player Count**

* Total Number of Players

**Purchasing Analysis (Total)**

* Number of Unique Items
* Average Purchase Price
* Total Number of Purchases
* Total Revenue

**Gender Demographics**

* Percentage and Count of Male Players
* Percentage and Count of Female Players
* Percentage and Count of Other / Non-Disclosed

**Purchasing Analysis (Gender)** 

* The below each broken by gender
  * Purchase Count
  * Average Purchase Price
  * Total Purchase Value
  * Normalized Totals

**Age Demographics**

* The below each broken into bins of 4 years (i.e. &lt;10, 10-14, 15-19, etc.) 
  * Purchase Count
  * Average Purchase Price
  * Total Purchase Value
  * Normalized Totals

**Top Spenders**

* Identify the the top 5 spenders in the game by total purchase value, then list (in a table):
  * SN
  * Purchase Count
  * Average Purchase Price
  * Total Purchase Value

**Most Popular Items**

* Identify the 5 most popular items by purchase count, then list (in a table):
  * Item ID
  * Item Name
  * Purchase Count
  * Item Price
  * Total Purchase Value

**Most Profitable Items**

* Identify the 5 most profitable items by total purchase value, then list (in a table):
  * Item ID
  * Item Name
  * Purchase Count
  * Item Price
  * Total Purchase Value

As final considerations:

* Your script must work for both data-sets given.
* You must use the Pandas Library and the Jupyter Notebook.
* You must submit a link to your Jupyter Notebook with the viewable Data Frames. 
* You must include an exported markdown version of your Notebook called  `README.md` in your GitHub repository.  
* You must include a written description of three observable trends based on the data. 
* See [Example Solution](HeroesOfPymoli/HeroesOfPymoli_Example.pdf) for a reference on expected format. 


## Hints and Considerations

* These are challenging activities for a number of reasons. For one, these activities will require you to analyze thousands of records. Hacking through the data to look for obvious trends in Excel is just not a feasible option. The size of the data may seem daunting, but Python Pandas will allow you to efficiently parse through it. 

* Second, these activities will also challenge you by requiring you to learn on your feet. Don't fool yourself into thinking: "I need to study Pandas more closely before diving in." Get the basic gist of the library and then _immediately_ get to work. When facing a daunting task, it's easy to think: "I'm just not ready to tackle it yet." But that's the surest way to never succeed. Learning to program requires one to constantly tinker, experiment, and learn on the fly. You are doing exactly the _right_ thing, if you find yourself constantly practicing Google-Fu and diving into documentation. There is just no way (or reason) to try and memorize it all. Online references are available for you to use when you need them. So use them!

* Take each of these tasks one at a time. Begin your work, answering the basic questions: "How do I import the data?" "How do I convert the data into a DataFrame?" "How do I build the first table?" Don't get intimidated by the number of asks. Many of them are repetitive in nature with just a few tweaks. Be persistent and creative!

* Expect these exercises to take time! Don't get discouraged if you find yourself spending  hours initially with little progress. Force yourself to deal with the discomfort of not knowing and forge ahead. This exercise is likely to take between 15-30 hours of your time. Consider these hours an investment in your future!

* As always, feel encouraged to work in groups and get help from your TAs and Instructor. Just remember, true success comes from mastery and _not_ a completed homework assignment. So challenge yourself to truly succeed!

## Copyright

Coding Boot Camp (C) 2016. All Rights Reserved.

In [405]:
# Dependencies
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import random as random

In [406]:
# Read json
# Store filepath in a variable
game_data1 = "purchase_data.json"

# Read our Data file with the pandas library
game_data1_df = pd.read_json(game_data1)

game_data1_df.head()

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

In [407]:
# Read json
# Store filepath in a variable
game_data1 = "purchase_data.json"
game_data2 = "purchase_data2.json"

# Read our Data file with the pandas library
game_data1_df = pd.read_json(game_data1)
game_data2_df = pd.read_json(game_data2)

# merge the two files
combined_game_data_df = pd.merge(game_data1_df, game_data2_df, how='outer', on=['Age','Gender','Item ID','Item Name','Price','SN'])

# Show the header 
combined_game_data_df.head()

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

In [408]:
# Show basic statistics about the data
combined_game_data_df.describe()

              Age     Item ID       Price
count  858.000000  858.000000  858.000000
mean    22.713287   91.533800    2.930571
std      6.964443   53.020169    1.116864
min      7.000000    0.000000    1.020000
25%     19.250000   44.000000    1.960000
50%     22.000000   92.000000    2.870000
75%     25.000000  135.000000    3.910000
max     45.000000  183.000000    4.950000

In [429]:
# **Player Count**

# Total Number of Players
total_players = combined_game_data_df["SN"].count()
total_players

858

In [480]:
# **Purchasing Analysis (Total)**

# Number of Unique Items
unique_items = combined_game_data_df.groupby(["Item Name", "Item ID"]).count()
unique_items.count()

Age          184
Gender       184
Price        184
SN           184
Age Group    184
dtype: int64

In [411]:
# Average Purchase Price
average_price = combined_game_data_df["Price"].mean()
average_price

2.9305710955710915

In [412]:
# Total Number of Purchases
total_purchases = combined_game_data_df["Item ID"].count()
total_purchases

858

In [413]:
# Total Revenue
total_revenue = combined_game_data_df["Price"].sum()
total_revenue

2514.4299999999967

In [506]:
# **Gender Demographics**

# Total Breakout by Gender 
total_gender = combined_game_data_df["Gender"].value_counts()
print(total_gender)

# Percent Breakout by Gender 
percent_gender = combined_game_data_df["Gender"].value_counts(normalize=True)
print(percent_gender)

Male                     697
Female                   149
Other / Non-Disclosed     12
Name: Gender, dtype: int64
Male                     0.812354
Female                   0.173660
Other / Non-Disclosed    0.013986
Name: Gender, dtype: float64

In [512]:
# Percentage and Count of Male Players
gender_male = combined_game_data_df["Gender"] == "Male"
gender_male.head()

0    True
1    True
2    True
3    True
4    True
Name: Gender, dtype: bool

In [507]:
# Percentage and Count of Female Players
gender_female = pd.DataFrame[combined_game_data_df, columns=["Gender"] == "Female"]
gender_female.head()

SyntaxError: invalid syntax (<ipython-input-507-7a922d34421d>, line 3)

In [510]:
# Percentage and Count of Other / Non-Disclosed
gender_other = pd.DataFrame[combined_game_data_df, columns=["Gender"] == "Other / Non-Disclosed"]
gender_other.head()

SyntaxError: invalid syntax (<ipython-input-510-987d4b2386bf>, line 2)

In [418]:
# **Purchasing Analysis (Gender)** 

# The below each broken by gender
  # Purchase Count
  # Average Purchase Price
  # Total Purchase Value
  # Normalized Totals

In [489]:
# **Age Demographics**

# The below each broken into bins of 4 years (i.e. &lt;10, 10-14, 15-19, etc.) 
  # Purchase Count
  # Average Purchase Price
  # Total Purchase Value
  # Normalized Totals

bins = [4, 8, 12, 16, 20, 24, 28, 32, 36, 40, 44, 48, 52]

# Create groups for the age bins
age_groups = ['4 & Below', '5-8', '9-12', '13-16', '17-20', '21-24', '25-28', '29-32', '33-36', '37-40', '41-44','45 & Up']

# Slice the data and place it into bins
pd.cut(combined_game_data_df["Age"],bins,labels=age_groups).head()

# Place the data series into a new column inside of the DataFrame
combined_game_data_df["Age Group"] = pd.cut(combined_game_data_df["Age"], bins, labels=age_groups)
combined_game_data_df

# Create a DataFrame of age groups by using a list of dictionaries
age_groups_df = pd.DataFrame([
    {"Age Group":"Age", "Purchase Count":total_purchases, "Average Purchase Price":average_price},
    {"Total Purchase Value":total_revenue}
])
age_groups_df


# Create a GroupBy object based upon "Age Group"
age_group = age_groups_df.groupby("Age Group")
print(age_group.head())

# Normalize totals
print(age_group["Age Group"].count())

# Find how many rows fall into each bin
#print(ted_group["comments"].count())

# Get the average of each column within the GroupBy object
#ted_group.mean()

# Creating a group based on the bins
#age_groups = age_groups_df.groupby("Age Group")
#age_groups.max()

  Age Group  Average Purchase Price  Purchase Count  Total Purchase Value
0       Age                2.930571           858.0                   NaN
1       NaN                     NaN             NaN               2514.43
Age Group
Age    1
Name: Age Group, dtype: int64

In [461]:
# **Top Spenders**

# Identify the the top 5 spenders in the game by total purchase value, then list (in a table):
  # SN
  # Purchase Count
  # Average Purchase Price
  # Total Purchase Value

# Identify highest spenders
highest_spender = combined_game_data_df["Price"].nlargest(5)
highest_spender

50     4.95
83     4.95
229    4.95
361    4.95
390    4.95
Name: Price, dtype: float64

In [466]:
# **Most Popular Items**

# Identify the 5 most popular items by purchase count, then list (in a table):
  # Item ID
  # Item Name
  # Purchase Count
  # Item Price
  # Total Purchase Value

# Identify most popular items
popular_items = combined_game_data_df["Item Name"].value_counts()
popular_items.head()

Final Critic                            14
Stormcaller                             12
Arcane Gem                              12
Betrayal, Whisper of Grieving Widows    11
Trickster                               10
Name: Item Name, dtype: int64

In [476]:
# **Most Profitable Items**

# Identify the 5 most profitable items by total purchase value, then list (in a table):
  # Item ID
  # Item Name
  # Purchase Count
  # Item Price
  # Total Purchase Value

profitable_items = combined_game_data_df.groupby(["Item Name", "Item ID"]).sum()
profitable_items.head()

                                        Age  Price
Item Name                      Item ID
Abyssal Shard                  162       67   6.12
Aetherius, Boon of the Blessed 137       78  19.00
Agatha                         120      115   9.55
Alpha                          130      163  10.92
Alpha, Oath of Zeal            79       175  21.47