In [1]:
# Dependencies
import pandas as pd

In [3]:
# Save path to data set in a variable
data_file = "election_data_1.csv"

In [4]:
# Use Pandas to read data
data_file_pd = pd.read_csv(data_file)
data_file_pd.head()

   Voter ID      County Candidate
0   1405627      Harsaw    Vestal
1   1711723  Mershville    Vestal
2   1550639  Matterdawn    Vestal
3   1042621      Harsaw    Vestal
4   1583965  Matterdawn    Vestal

In [ ]:
# The aggregate method groups all the dates by Month 
tot_Months = data_file_pd.aggregate("Date")
tot_Months.head()

# The sum method sums total Revenue
tot_Revenue = data_file_pd["Revenue"].sum()
tot_Revenue

# The mean method averages total Revenue
ave_Revenue = data_file_pd["Revenue"].mean()
ave_Revenue

# The max method finds the max in the Revenue column
max_Revenue = data_file_pd["Revenue"].max()
max_Revenue

# The min method finds the min in the Revenue column
min_Revenue = data_file_pd["Revenue"].min()
min_Revenue

In [ ]:
print("Election Results")
print("----------------------------")
print("Total Votes Cast: " + str(Date))
print("Complete list of candidates with votes: " + str(tot_Revenue))
print("Average Revenue Change: " + str(ave_Revenue))
print("Greatest Increase in Revenue: " + str(Date) + str("(") + str(max_Revenue ) + str(")"))
print("Greatest Decrease in Revenue: " + str(Date) + str("(") + str(min_Revenue) + str(")"))